@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ClientApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="ClientApp/runtime.js"></script>
    <script type="text/javascript" src="ClientApp/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="ClientApp/polyfills.js"></script>
    <script type="text/javascript" src="ClientApp/styles.js"></script>
    <script type="text/javascript" src="ClientApp/scripts.js"></script>
    <script type="text/javascript" src="ClientApp/vendor.js"></script>
    <script type="text/javascript" src="ClientApp/main.js"></script>
</body>
</html>

